NEXT_PUBLIC_SUPABASE_URL=https://mgbmpsedtbkylpzcasck.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1nYm1wc2VkdGJreWxwemNhc2NrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5MTc3MzAsImV4cCI6MjA5MDQ5MzczMH0.n9TTjTMq_5ATmID_fAc_Wa-4V4z50Ga7ri1OeaS231A
